/* regole generali */
*{
  box-sizing: border-box;
  margin: auto;
  font-family: arial;
  color:#484C54;
}

.lightblue{
  background-color: #47ADF1;
}

/* regole titolo */
.title{
  padding: 10px 20px 10px;
}

header img{
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  color: black;
}

/* regole generali blocchi */
.main-body{
  padding-bottom: 20px;
  background-color: lightgrey;
  padding-top: 40px;
}

nav,main{
  background-color: white;
  width: 70%;
  margin: auto;
  padding-left: 40px;
}

/* regole blocco input */
nav{
  height: 50px;
  padding-top:15px;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid lightgrey;
}

button{
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  font-family:arial;
  color:white;
  font-weight: bold;
  border: 1px solid #47ADF1;
}

#button-section {
  background-color: #FFFF;
  color: lightgrey;
  border: 1px solid grey;
}

/* regole blocco list */
.section{
  padding-top: 30px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

.arrow{
  font-size: 70%;
  margin-right: 5px;
}

.container{
  margin-top: 10px;
  font-weight: bold;
}

li.container::before{
  border: 1.5px solid black;
  font-size: 60%;
  border-radius: 50%;
  height: 20px;
  line-height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  box-sizing: border-box;
}

li.container.check::before{
  border-color: #9DDACD;
  color: #9DDACD;
  content: '\2713' ;
}

li.container.cross::before{
  border-color: #ED706A;
  color: #ED706A;
  content: '\2717' ;
}

span.tasks :first-child{
  line-height: 20px;
  margin:0;
  padding: 0;
}

.label{
  height: 20px;
  border-radius: 8px 8px 8px 8px;
  padding:7px;
  color:white;
  font-size: 10px;
}

.violet{
  background-color: #9C72E4;
}

.green{
  background-color: #64C0A9;
}

.orange{
  background-color: #F29E33;
}

.pink{
  background-color: #D863A1;
}

.senape{
  background-color: #B0C926;
}

.section.last{
  padding-bottom: 30px;
}
